* {
    font-size: large;
}

.navbar {
    display: flex;
    background: lightblue;
    justify-content: space-between;
}

.left {
    margin-left: 20px;
}

i {
    margin-right: 20px;
}

.right {
    margin-right: 20px;
}

.hero {
    height: 100px;
    width: full;
    background: rgb(100, 166, 186);
    margin-top: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartSection {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cart {
    border: 1px solid black;
    margin-top: 6px;
    border-radius: 8px;
    width: 370px;
    height: 300px;
}